@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  box-sizing: border-box;
  font-weight: normal;
        
}

.container{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	min-width: 30%;
	max-width: 100%;
    padding: 0 10em
}

.faw {
    font-size: 50px;
    color : white;
}
.column{
    padding-top: 5;
	display:flex;
	flex-wrap: wrap;
    flex-direction: column;
	justify-content: flex-start;
	min-width: 30%;
	max-width: 100%;
    padding: 0em 30 
}

.column-title{
    text-align: center;
    width: 400px;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1.5em;
    font-weight: bold

}
body {
  color: #555;
  background: white;
  text-align: center;
  font-family: "Roboto";
}

h1 {
  font-size: 2.2em;
}


.flip > .front,
.flip > .back {
  display: block;
  transition-timing-function: cubic-bezier(0.175, 0.885);
  transition-duration: 0.2s;
  transition-property: opacity;
}

.flip > .back {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}



.animback {
  opacity: 1 !important;
}


.flip {
      position: relative;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
      0 6px 6px rgba(0, 0, 0, 0.23);
      display: inline-block;
      margin-right: 2px;
      margin-bottom: 1em;
      width: 400px;
      border-radius: 10px;
      transition-timing-function: cubic-bezier(0.175, 0.885);
      transition-duration: 0.2s;
      transition-property: opacity;
   


}
.flip > .front,
.flip > .back {
  display: block;
  color: white;
  background-size: cover !important;
  background-position: center !important;
  height: 210px;
  padding: 1em 2em;
  background: #313131;
  border-radius: 10px;
}
.flip > .front p,
.flip > .back p {
  font-size: 1em;
  line-height: 160%;
  color: #999;
    
}

#btn {
    position : absolute;
    margin-left: 1em;
    font-size: 1.2em;
    color : darkgray;
    padding: 0 10;
}

#btn:hover{
    color : black;
    cursor:pointer ;
    background-color: red;
}
.text-shadow {
    font-weight: medium;
    text-shadow: 0 13.36px 8.896px black;


}


